
<div   class="modal-dialog  " role="document">
    <div style="background-color:  #C39C47;" class="modal-content">
      <div dir="{{'HOME.dir' | translate }}" align="{{'HOME.al' | translate }}" class="modal-header text-center">
        <h6>
          ARE YOU SURE YOU WANT VALIDATE THE ORDER ? 
        </h6>
  
        <button (click)="addNewItem()" style="margin-right: 5px;" class="btn btn-success" role="button">{{'HOME.ouii' | translate}}</button>
  
        <button (click)="hide()"  class="button-3"  class="btn btn-danger" role="button">{{'HOME.nonn' | translate}}</button>
  
      
      </div>
  
  
    </div>
  </div>
  
  
  
  
  
  
  
  
  

  
  