
     
   



     
            <table  style="border-radius: 50px; margin-top: 100px; background-color: white; padding-bottom: 50px; padding-top: 50px;" >
             <tr>
                <td>
&nbsp;&nbsp;
                </td>
         
             </tr>
                <tr>
                   
                <td align="center" style="padding-left: 30px;">
                
            <a  (click)="openApp()">
                <img   src="assets/testback.png" style="width: 60px; height: 60px;">
              <br> <h5><u>Open Maktub</u> </h5> 
            </a>
            
            
        </td>
        <td>&nbsp;&nbsp;</td>
        
        <td align="center" style="padding-left: 30px;">
           
            <a  (click)="downloadAppp()" >
                <app-animated-arrows-button style="margin-right: 20px;" 
                direction="left">
    </app-animated-arrows-button>
                <img  src="assets/playstore.jpeg" style="width: 60px; height: 60px;">
            <br> <h5> <u> Download Maktub</u> </h5>
            </a>
           
        </td>
        <td >&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td>
            &nbsp;&nbsp;
        </td>
    </tr>
    </table>






  
  
  
  
  
  
  