
<div  class="modal-dialog  " role="document">
    <div class="modal-content">

    <span style="text-align: right; margin-right: 10px; font-size: 20px;"><a (click)="onClose()">x</a></span>  
     <br>
    <span style="margin-left: 100px;">{{'HOME.evmdpact' | translate}}</span> 

     <br>
     
     
      <form style="margin-left: 100px;" [formGroup]="kkk" (ngSubmit)="testerpwd()">
  
        <input required="required" type="password" formControlName="password">
        <img *ngIf="bool" style="border-radius: 30px; position: absolute; width: 40px;" src="assets/deleted.jpg" >
        <img *ngIf="bool2" style="border-radius: 30px; position: absolute; width: 40px;" src="assets/x2.png" >

        
    
        <button style="margin-left: 40px;" class="btn btn-info"  type="submit" >{{'HOME.vérifier' | translate}}</button>
      </form>
  
      <br>
      <br>
      
  
  
      <app-validconfirmation
      (signinOpen)="modalSignup.hide()"
      mdbModal
      #modalSignup="mdbModal"
      class="modal fade"
      style="overflow-y: auto"
      [modal]="modalSignup"
      >
      </app-validconfirmation>
  
  
    </div>
  </div>
  
  